[submodule "themes/online-resume"]
	path = themes/online-resume
	url = git@github.com:tarrex/hugo-theme-online-resume.git
[submodule "themes/orbit"]
	path = themes/orbit
	url = https://github.com/aerohub/hugo-orbit-theme
